.forecast {
  display: flex;
  margin-top: 20px;
}

.forecast-card {
  text-align: center;
  margin-right: 10px;
  background-color: rgba(237, 234, 234, 0.5);
  padding: 15px;
}

.changed-width {
  overflow-x: scroll;
  max-width: 70%;
}
