.card {
  background-color: rgba(237, 234, 234, 0.5);
  margin-right: 20px;
}

.card img {
  width: 300px;
  height: 200px;
}

.card h4 {
  margin-bottom: 10px;
}

.card div {
  padding: 15px;
}

.selected {
  border: 2px solid rgb(25, 142, 244);
}
