.trips {
  display: flex;
  margin: 20px 0;
}

.trips-btns {
  margin-bottom: 20px;
}

.trips-btns button {
  background-color: rgb(25, 142, 244);
  color: #fff;
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

.cards {
  display: flex;
  max-width: 640px;
}

.scroll {
  overflow-x: scroll;
}

.add-new {
  background-color: rgba(237, 234, 234, 0.5);
  width: 300px;
  height: 200px;
  font-size: 22px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
}

.scroll {
  overflow-x: scroll;
}
